/* Add CSS styling here */
/* Add CSS styling here */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

/* INDEX CSS STARTS HERE */

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Palatino, URW Palladio L, serif;
}
h1 {
  font-size: 2vw;
  text-transform: uppercase;
  margin: 0;
}
h1:hover {
  color: #c29276;
}
.backgroundImg {
  background-image: url("../forest1574427411592-8ae18399cf34.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  filter: blur(5px);
}
.background-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 45%;
  padding: 40px 0;
  text-align: center;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: bold;
  border: 10px inset #fff;
}
.background-text p {
  padding: 0 8%;
  font-family: Palatino, URW Palladio L, serif;
  font-size: 1.25vw;
  margin: 1vw;
}
.background-text p:hover {
  color: #ad8b78;
}
.background-text a {
  display: inline-block;
  padding: 10px 50px;
  border: 2px solid #fff;
  font-size: 0.5vw;
  text-decoration: none;
  color: #fff;
  margin-top: 15px;
}
.background-text a:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 1180px) {
  .background-text a {
    display: flex;
    flex-flow: column wrap;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: #c29276;
    color: whitesmoke;
  }

  .background-text p {
    margin-top: 1vw;
  }
}

@media screen and (max-width: 800px) {
  .background-text a {
    background-color: #ad8b78;
    color: whitesmoke;
  }

  @media screen and (max-width: 500px) {
    .background-text a {
      background-color: #c7b5ab;
      color: black;
    }
  }
}

/* ABOUT ME CSS STARTS HERE */

html {
  font-size: 62.5%;
}
body {
  background: rgb(255, 248, 252);
  background: radial-gradient(
    circle,
    rgba(255, 248, 252, 1) 0%,
    rgba(40, 36, 36, 1) 78%
  );
}
.heading {
  background: #ffffff;
  text-align: center;
  padding: 0.5em;
  font-size: 2rem;
  color: black;
}
.container {
  background: rgb(255, 244, 244);
  background: linear-gradient(
    90deg,
    rgba(255, 244, 244, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 19%,
    rgba(0, 0, 0, 0.6334908963585435) 81%
  );
  padding: 1em;
}
.topNav a {
  font-family: cursive;
  text-decoration: none;
  border: 1px solid whitesmoke;
  padding: 0.75em;
  font-size: 15px;
  color: whitesmoke;
}
.topNav {
  font-size: 3rem;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 0.5em;
}
.topNav a:hover {
  background-color: whitesmoke;
  color: #7d43b0;
  border: 2px solid #7d43b0;
}
a {
  font-family: cursive;
  text-decoration: none;
  border: 1px solid whitesmoke;
  padding: 0.5em;
  font-size: 15px;
  color: black;
}
.container h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 6rem;
  color: whitesmoke;
  text-align: left;
}

h3 {
  font: italic 1.2em "Fira Sans", serif;
  color: #7d43b0;
  font-size: 3rem;
  text-align: center;
  padding: 1em;
}

.midSection {
  display: inline-block;
  margin: 2%;
}
.midImg {
  float: left;
  width: 600px;
  height: 600px;
}
.midSection p {
  font: italic "Fira Sans", serif;
  font-size: 25px;
  color: black;
  margin-top: 3%;
  text-align: left;
}

.midDiv {
  padding-top: 9vw;
  padding-left: 40%;
  padding-right: 20%;
  text-align: right;
}
.midNav {
  text-align: left;
}
.midNav a {
  color: #7d43b0;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 5px;
}
.midNav a:hover {
  background-color: #7d43b0;
  color: whitesmoke;
  border: 2px solid white;
}

.midDiv h2 {
  text-align: left;
  margin-bottom: 3%;
  font: italic 1.2em "Fira Sans", serif;
  color: #7d43b0;
  font-size: 35px;
}

.bottomSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.bottomSection img {
  margin: 2rem;
  width: 300px;
  height: 300px;
}

.bottomDiv {
  margin: 3%;
}
.bottomDiv p {
  margin-left: 3.5em;
  font-size: 2em;
  color: #7d43b0;
  font-weight: bold;
}
footer {
  background: rgb(255, 248, 252);
  background: radial-gradient(
    circle,
    rgba(255, 248, 252, 1) 0%,
    rgba(255, 243, 243, 1) 45%
  );
  padding-bottom: 1%;
}
.footerNav {
  text-align: center;
}
.footerNav a {
  border: 1px solid black;
}
@media screen and (max-width: 1690px) {
  .bottomSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-left: 15vw;
    margin-right: 15vw;
  }
  .midSection img {
    margin-top: 3vw;
  }
  .midDiv {
    margin-left: 10vw;
  }
  .midNav {
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
  }
}
@media screen and (max-width: 1366px) {
  .midDiv {
    margin-left: 10vw;
    margin-right: 1vw;
    margin-top: 0.25vw;
  }
  .midSection img {
    margin-top: 5vw;
  }
}
